h1{
    font-size: 30px;
    font-weight: bold;
    margin: 20px auto;
}

.col-12{
    width: 100%;
    margin: auto;
}

.col-12 .col-10{
    width: 91.66%;
    margin:auto;
}

.col-12 header h1{
    color: #00c89b;
}

.col-12 .col-10 .solution-button{
    padding: 20px;
    font-size: 15px;
    background-color: #fff;
    border: 2.5px solid;
    border-radius: 6px;
    border-color: #00c89b;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    outline-color: #00daaa;
    margin: 10px;
}

.col-12 .col-10 .solution-button:hover
{
    background-color: #01f1bd;
}

.col-12 .col-10 a{
    text-decoration: none;
}

@media only screen and (max-width: 700px){
    .col-12 .col-10, .col-12 .col-10 .col-8{
        width: 100%;
        text-align: center;
    }
}