.addItem{
    width: 90%;
    margin: auto;
    background-color: dodgerblue;
}

.extra{
    padding: 10px;
    border: thick solid red;
}

.addItem input{
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    outline: none;
    border: thin solid #ccc;
    border-radius: 3px;
    font-size: 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.addItem button{
    display: none;
}
