table{
    margin: auto;
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=bfb050ff&noise=626262&density=66&opacity=29);
    border-collapse: separate;
    border-spacing: 0px;
    display: table;
    border: solid;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-color: grey;
    width: 500px;
}

table caption{
    font-weight: bold;
    font-size: 19px;
    margin: 10px auto;
}

table th{
    font-weight: bold;
}

table td, table th{
    border:2px solid grey;
    padding: 0px;
    
}

table td{
    text-align: left;
}