h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

h1{
    font-size: 40px
}

h2{
    font-size: 0px
}

h3{
    font-size: 40px;
    position: relative;
    padding-bottom: 50px
}

h3:after{
    content: "";
    width: 5%;
    height: 5px;
    background-color: #f1860b;
    border: thin solid #f1860b;
    position: absolute;
    bottom: 0;
    left: 50%;
   transform:translateX(-50%);
}

h4{
    font-size: 27px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

hr{
    width: 5%;
    margin: 30px auto;
    height: 5px;
    background-color: #f1860b;
    border: thin solid #f1860b;
    color: #f1860b;
}

.row{
    padding:5px 15px;
}

.header-container{
    background-color: #f6f6f6;
    position: relative;
}

.header-container .left, .header-container .right{
    display: inline-block;
    vertical-align: middle;
}

.header-container .left{
    padding: 10px 0px;
    color: #ccc;
    font-style: italic;
}

.left img{
    margin-right: 14px
}

.left span, .left img{
    vertical-align: middle;
}

.right{
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    /* border: thin solid black; */
    height: 100%;
    top: 0px;
    right: 0px;
}

.right .right-nav-up{
    background: rgba(246,246,246,1);
    background: linear-gradient(to right, rgba(246,246,246,1) 3%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 100%);
    top: 0px;
    position: absolute;
    right: 0px;
    padding: 10px 20px;
    padding-left: 80px;
    text-align: right;
    color: rgb(102, 101, 101);
}

.right-nav-up a{
    color: inherit;
    padding: 1px 17px;
}

.right .right-nav-down{
    text-align: right;
    display: inline-block;
    /* border: thin solid black; */
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.7% 38px;
}

.right-nav-down a{
    padding: 10px 0px 10px 0px;
    margin-right: 50px;
    color: rgb(44, 44, 44);
    border-bottom: thick solid transparent;
}

.right-nav-down a:hover{
    text-decoration: none;
    border-bottom: thick solid #f58e3d;
}

.right-nav-down a:last-child{
    margin-right: 0px;
}

.banner-container{
    position: relative;
}

.banner-container .banner-bg{
    background-image: url(../images/banner.jpeg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.banner-container .banner-text{
    position: absolute;
    top: 0;
    height: 600px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 87%);
    font-weight: normal;
    padding-top: 100px
}
.banner-text h3{
    font-weight: 100;
    text-align: center;
}

.banner-text b{
    font-weight: bold;
    font-size: 120%;
}

.banner-text .row{
    width: 89%;
    margin: auto;
    padding: 0px;
}

.banner-text .services{
    text-transform: uppercase;
    margin-top: 30px;
}

.services div{
    width: 21.9%;
    text-align: center;
    color: rgb(73, 73, 73);
    display: inline-block;
    margin-right: 1.375%;
    margin-left: 1.375%;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, transparent 30%, rgb(51, 52, 53), transparent 60%) 1 100%;
}

.services div:first-child{
    margin-left: 0px;
}

.services div:last-child{
    margin-right: 0px;
    border: none;
}

.services div i{
    padding-bottom: 15px;
}

.banner-text .stats{
    border: thin solid #ccc;
    margin: 40px 0px;
    padding: 10px 0px;
    text-align: center;
    color: rgb(138, 138, 138);
    min-height: fit-content;
}

.stats .row{
    min-height: 100%;
}

.stats h4{
    color: #f58e3d;
    margin-bottom: 10px;
    font-weight: 100;


}

.stats .row div{
    border-right: thin solid #ccc;
    width: 15%;
    display: inline-block;
    padding: 10px 20px;
    vertical-align: middle;
    min-height: 89px;
}

.stats .row div:last-child{
    border-right: none;
}

.stats .row span{
    word-wrap:break-word;
    display: inline-block;
}