.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
    flex-basis: 10%;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    -webkit-box-shadow: 0 5px 14px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 5px 14px -6px rgba(0,0,0,0.75);
    box-shadow: 0 5px 14px -6px rgba(0,0,0,0.75);
    padding: 0 30px;
}

.App-header .link{
    text-decoration: none;
    color: inherit;
}

.App-header .link:hover{
    text-decoration: underline;
}

.App-header .App-Navlist{
    display: flex;
    justify-content: space-between;
    flex-basis: 30%;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
