.userDetails-container{
    background-color: rgba(120, 0, 120, 0.4);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.userDetails-container .userDetails{
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
    font-style: italic;
    font-size: 19px;
    align-items: center;
}
