table{
    margin: auto;
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=bfb050ff&noise=626262&density=66&opacity=29);
    border-collapse: separate;
    border-spacing: 10px;
    border:auto;
    display: table;
    border: 10px solid grey;
}

table caption{
    font-weight: bold;
    font-size: 19px;
    margin: 10px auto;
}



table th{
    font-weight: bold;
}

table td, table th{
    padding: 4px;
    border:2px solid grey;
}

table td{
    text-align: left;
}