.App {
    /*text-align: center;*/
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
    flex-basis: 10%;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header p {
    flex-basis: 95%;
}

.App-link {
    color: #61dafb;
}

.App-section{
    width: 90%;
    margin: auto;
    padding: 10px 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
