.container{
    width: 100%;
    height: 768px;
    background-image: url(../images/videoblocks-white-texture-geometric-abstract-triangle-seamless-loop_hdesm7kp9z_thumbnail-full01.png);
    background-repeat: no-repeat;
}